[submodule "Assets/LeopotamGroup/Ecs"]
	path = Assets/LeopotamGroup/Ecs
	url = https://Leopotam@github.com/Leopotam/ecs.git
	branch = develop
[submodule "Assets/LeopotamGroup/Ecs.Ui"]
	path = Assets/LeopotamGroup/Ecs.Ui
	url = https://Leopotam@github.com/Leopotam/ecs-ui.git
	branch = develop
