[submodule "Assets/Leopotam/Ecs"]
	path = Assets/Leopotam/Ecs
	url = https://github.com/Leopotam/ecs.git
	branch = develop
[submodule "Assets/Leopotam/Ecs.Ui"]
	path = Assets/Leopotam/Ecs.Ui
	url = https://github.com/Leopotam/ecs-ui.git
	branch = develop
[submodule "Assets/Leopotam/Ecs.UnityIntegration"]
	path = Assets/Leopotam/Ecs.UnityIntegration
	url = https://github.com/Leopotam/ecs-unityintegration.git
	branch = develop
